@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 24px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2.2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  a:focus {
    outline: 0;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: 0;
    }
  }
}

.navbar-inverse {
    border: 0;
}

section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.success {
    background: $gray-light;
  }

}

@media(max-width:767px) {
  section {
      padding: 75px 0;
  }

  section.first {
      padding-top: 75px;
  }
}
