<div class="portfolio-modal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Angular D3 miso</h2>
                        <hr class="star-primary">
                        <div class="chart-container">
                          <d3-chart id="top-10" config="chart">
                            <chart-header></chart-header>
                            <horizontal-bar></horizontal-bar>
                            <chart-footer></chart-footer>
                          </d3-chart>
                        </div>
                        <span class="caption">angular-d3-miso</span>
                        <p>
                          Demonstrates a pattern to build composable, reusable charts using Angular, D3 and the miso d3.chart library. This pattern is interesting because both Angular and D3 have their own DOM updating patterns which do not play well with one another out of the box and are not easily extended. The pattern I am presenting takes advantage of Angular to create self contained configurable directives that manage DOM manipulations and data retrieval while relying on the miso d3.chart library for organizing D3 code and drawing the visualizations in a structured and modular way.<!-- Below are some screenshots of how this pattern was used to create a dashboard. -->
                        </p>
                       <!--  <img src="images/portfolio/dashboard/overview.png" class="img-responsive img-centered" alt="Dashboard Modules">
                        <span class="caption">Dashboard Modules</span>
                        <img src="images/portfolio/dashboard/dashboard.png" class="img-responsive img-centered" alt="Dashboard Modules">
                        <span class="caption">Dashboard Modules</span> -->
                        <ul class="list-inline item-details">
                            <li>Date:
                                <strong>2015</strong>
                            </li>
                            <li>See Code on Github:
                              <strong><a href="https://github.com/simplesthing/angular-d3-miso">angular-d3-miso</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

