<div class="portfolio-modal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Career Prep Bootcamp</h2>
                        <hr class="star-primary">
                        <video controls="controls"  poster="images/portfolio/bootcamp/homepage.files/html5video/homepage.jpg" style="width:100%" title="homepage">
                            <source src="images/portfolio/bootcamp/homepage.files/html5video/homepage.m4v" type="video/mp4" />
                            <source src="images/portfolio/bootcamp/homepage.files/html5video/homepage.webm" type="video/webm" />
                            <source src="images/portfolio/bootcamp/homepage.files/html5video/homepage.ogv" type="video/ogg" />
                            <source src="images/portfolio/bootcamp/homepage.files/html5video/homepage.mp4" />
                          </video>
                            <script src="libs/html5ext.js" type="text/javascript"></script>
                            <span class="caption">Career Prep Botcamp</span>


                        <!-- <img src="images/portfolio/cabin.png" class="img-responsive img-centered" alt=""> -->
                        <p>
                         As one of four developers on a small team that served the Profesional Development Solutions division at Apollo I had the opportunity to learn the art of building large scale multi tenant single page web applications using Angular JS. The Bootcamp application incorporates professional development and job seeking skills into a highly visual and interactive journey of game like exercises.
                        </p>
                        <ul class="list-inline item-details">
                            <li>Company:
                                <strong>
                                  <a href="https://en.wikipedia.org/wiki/Apollo_Education_Group">Apollo Education Group</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2014</strong>
                            </li>
                            <li>Title:
                                <strong>Software Engineer II</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

