<div class="portfolio-modal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Disney Interactive</h2>
                        <hr class="star-primary">
                        <img src="images/portfolio/disney/like-button.png" class="img-responsive img-centered" alt="Disney Like Button">
                        <span class="caption">Disney Like Button</span>
                        <p>
                          Disney Interactive was the first time I used MVC style JavaScript, AMD modules with require.js and even Ember before it's first stable release, wow those were fun days for sure! My first project was to create, the 'Disney Like Button' to be an embeddable widget that could be used across Disney websites as a way to allow kids to participate in a social network in protected games like Club Penguin. For example in Club Penguin kids get their own igloo to call home in the game, they can earn or buy points to decorate their igloos. In game friends can visit each other's igloo's and leave a like.
                        </p>
                        <img src="images/portfolio/disney/like-friends.png" class="img-responsive img-centered" alt="Disney Like Friends">
                        <span class="caption">Disney Friends</span>
                        <p>
                          Another embeddable widget to be part of this cross site social network was a chat that was anchored to the bottom of the browser window. Kids could play different games online and still be connected through the Disney Social Chat .
                        </p>
                        <video controls="controls" poster="images/portfolio/disney/chat.files/html5video/chat.jpg" style="width:100%" title="chat">
                          <source src="images/portfolio/disney/chat.files/html5video/chat.m4v" type="video/mp4" />
                          <source src="images/portfolio/disney/chat.files/html5video/chat.webm" type="video/webm" />
                          <source src="images/portfolio/disney/chat.files/html5video/chat.ogv" type="video/ogg" />
                          <source src="images/portfolio/disney/chat.files/html5video/chat.mp4" />
                          </video>
                          <script src="libs/html5ext.js" type="text/javascript"></script>
                          <span class="caption">Disney Social Chat</span>
                        <ul class="list-inline item-details">
                            <li>Company:
                                <strong>
                                  <a href="https://en.wikipedia.org/wiki/Disney_Interactive">Disney Interactive</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2011 - 2012</strong>
                            </li>
                            <li>Title:
                                <strong>Web Developer</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


