<div class="portfolio-modal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Sansar</h2>
                        <hr class="star-primary">
                        <p>
                          Linden Lab was an opportunity to set the frontend foundation for a new family of websites supporting a new product called <a href="http://www.lindenlab.com/releases/linden-lab-invites-first-virtual-experience-creators-to-project-sansar-testing">Sansar</a>, a virtual reality world similar to the company's leading product Second Life, wherein users are given the ability to create lands and 3D products to be experienced and sold on a Marketplace.
                        </p>
                        <p>
                          I was given the opportunity to explore the use of different JavaScript frameworks to build the new set of websites, the leading options were Angular and React. I really loved switching from Angular to React and very quickly fell in love with the framework for it's clean modularity and ability to render web applications isomorphically, or Universally. Making the decision to use React lead to the use of Webpack and with that the ability to write CSS modules, which I also feel in love with for the same reasons as React, the code is clean, reusable and composable.
                        </p>
                        <p>
                          My first assignment, and only public facing web application for the product at the moment, was to create a <a href="https://www.sansar.com/creatorpreview">signup form</a> for the closed creator preview beta. Forms were a great way to learn React quickly giving each component it's own internal state for validation and custom interactive form elements like the "Other" checkbox which changes into a text input field when checked.
                        </p>
                        <img src="images/portfolio/lindenlab/creatorbeta.png" alt="Sansar Creator Beta Sign up form">
                        <p>
                          From there I went on to build two more supporting applications for Sansar, Marketplace and Atlas, which I hope to share publicly after launch in early 2017.
                        </p>
                        <p>
                          My biggest achievement in building these applications were not the React experience as much as it was the crafting and use of a library of CSS modules that make up the style guide for the product. Moving away from SASS I chose PostCSS with plugins to processs SASS like variables, nesting, mixins and more advance use of JavaScript functions. The modules are installed via npm and are used with PostCSS processing to compose styles from smaller modules. The result is a highly manageable CSS code base with almost no global classes, reducing the surface area for bugs when class names collide, as well as effortlessly maintaining brand across multiple applications. I look forward to expanding the style guide and libraries as I work closely with our designer to advance the UX of our web applications as they grow in size.
                        </p>
                        <button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

