<div class="portfolio-modal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Nordstrom</h2>
                        <hr class="star-primary">
                        <carousel interval="interval" no-wrap="noWrapSlides">
                          <slide ng-repeat="slide in nordSlides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive img-centered">
                          </slide>
                        </carousel>
                        <p>
                          During my time at Nordstrom I built interactive widgets for the retail site as a main staple but I also got the opportunity  to work with the creative department, putting
                          my WordPress theming skills to work. I themed their single blog at the time, The Thread, with the Thesis SEO theme and helped them launch four new blogs with using that same theme.
                        </p>
                        <p>Another large part of my job was building high fidelity prototypes for the UX team. The prototypes were  then used during usability testing with actual customers. I learned a lot from the experience of watching the customers react to things like infinite scrolling and parallax scrolling.
                        </p>
                        <img src="images/portfolio/nordstrom/view-all.png" class="img-responsive img-centered" alt="View All Screenshot">
                        <span class="caption">View All</span>
                        <ul class="list-inline item-details">
                            <li>Company:
                                <strong><a href="https://en.wikipedia.org/wiki/Nordstrom">Nordstrom</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2012 - 2013</strong>
                            </li>
                            <li>Title:
                                <strong>Senior Interactive Web Developer</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

