<div class="portfolio-modal"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Polymer Web Component</h2>
                        <hr class="star-primary">
                        <div class="iframe-container">
                        <span>Loading Iframe Content</span>
                           <iframe src="http://simplesthing.github.io/components/basic-color-picker/"  scrolling="no" width="530" height="680" id="picker" frameborder="0"></iframe>
                        </div>
                        <span class="caption">Polymer Color Picker Web Component</span>
                        <!-- <img src="images/portfolio/cabin.png" class="img-responsive img-centered" alt=""> -->
                        <p>
                          <em>iframe may load slowly</em><br>
                          Click inside the color wheel to pick a color <br>
                          This was my first attempt at contributing to an open source project, making a Polymer web component and making a color picker. Unfortunately my efforts were not enough to overcome all of those firsts and I never completed the contribution.  I  learned a great deal about Polymer and web components, how color pickers work and how hard it is to find time to contribute to open source when you already code full time at work.
                        </p>

                        <ul class="list-inline item-details">

                            <li>Date:
                                <strong>2014</strong>
                            </li>
                            <li>See Code on Github:
                              <strong><a href="https://github.com/simplesthing/simplesthing.github.io/blob/master/components/basic-color-picker/basic-color-picker.html">simplesthing.github.io</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

